 **Question 1**

In [ ]:
array = [15, 27, 35, 24, 5]
sum1 = 0

for num in array:
    sum1 = sum1 + num

print("The sum of the list is:", sum1)

The sum of the list is: 106

**Question 2**

In [ ]:
a = input("Enter a sentence: ")

# a part
print("Length of sentence is:", len(a))

# b part
print("First half of sentence is :",a[0:(len(a)//2)])

Enter a sentence: stringtheory
Length of sentence is: 12
First half of sentence is : string

**Question 3**

In [ ]:
s1 = input("Enter the first string: ")
s2 = input("Enter the second string: ")

# add
result= s1 + s2
print("The resultant string is:",result)

# Length of resultant string
print("The length of the resultant string is:", len(result))

Enter the first string: joe
Enter the second string: chesnut
The resultant string is: joechesnut
The length of the resultant string is: 10

**Question 4**

In [1]:
a = (78, 45, 32, 19, 82, 77, 40, 39)

print("Original tuple:", a)

# change the tuple into list and then converting the 3rd element into 100
# tuple are immutative ie., they cannot be changed
a1=list(a)
a1[2]=100

#printing the new tuple
b=tuple(a1)
print("Changed tuple:", b)

Original tuple: (78, 45, 32, 19, 82, 77, 40, 39)
Changed tuple: (78, 45, 100, 19, 82, 77, 40, 39)

**Question 5**

In [ ]:
def sum_new(a):
    total = 0
    for i in a:
        total += i
    return total


lstA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

# delete first occurrence of 32
lstA.remove(32)
print("List after deleting first occurence of 32:",lstA)

# delete all occurrences of 40
while 40 in lstA:
    lstA.remove(40)
print("List after removing all occurences of 40:",lstA)

# delete the value at index 5
del lstA[5]
print("List after removing value at index=5:",lstA)

# modify the value at index 9 to 300
#cannot modify since there is no index=9
#lstA[9] = 300

# add 200 at index 2
lstA.insert(2, 200)
print("List after adding 200 at index=2:",lstA)

# print the final list with its length, maximum value, and sum of all elements
print("Final list:", lstA)
print("Length of list:", len(lstA))
print("Maximum value in list:", max(lstA))
print("Sum of all elements in list:", sum_new(lstA))

List after deleting first occurence of 32: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
List after removing all occurences of 40: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
List after removing value at index=5: [19, 10, 55, 31, 32, 29, 10, 65, 77]
List after adding 200 at index=2: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length of list: 10
Maximum value in list: 200
Sum of all elements in list: 528