<a href="https://colab.research.google.com/github/theunknownadorable/Internship-on-ML-AI/blob/main/Day_4/Day4_internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Main**

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [87]:
data=pd.read_csv(r'/content/beer-servings (2).csv',index_col='Unnamed: 0')

In [88]:
for i in ['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']:
  data[i]=data[i].fillna(data[i].median())

In [89]:
data=data.drop('country',axis=1)

In [90]:
data.isna().sum()

beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

### **One hot encoding**

In [16]:
data.shape

(193, 6)

In [17]:
data.dtypes

country                          object
beer_servings                   float64
spirit_servings                 float64
wine_servings                   float64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [18]:
data.continent.nunique()

6

In [19]:
data.country.nunique()

193

In [20]:
data1=pd.get_dummies(data)

In [21]:
data1.shape

(193, 203)

In [22]:
data2=data.drop('country',axis=1)

In [23]:
data2.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0.0,0.0,0.0,0.0,Asia
1,89.0,132.0,54.0,4.9,Europe
2,25.0,0.0,14.0,0.7,Africa
3,245.0,138.0,312.0,12.4,Europe
4,217.0,57.0,45.0,5.9,Africa

In [24]:
data2=pd.get_dummies(data2)

In [25]:
data2.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent_Africa,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_South America
0,0.0,0.0,0.0,0.0,0,1,0,0,0,0
1,89.0,132.0,54.0,4.9,0,0,1,0,0,0
2,25.0,0.0,14.0,0.7,1,0,0,0,0,0
3,245.0,138.0,312.0,12.4,0,0,1,0,0,0
4,217.0,57.0,45.0,5.9,1,0,0,0,0,0

### **Label Encoding**

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
label_encoder=LabelEncoder()

In [91]:
data['continent']=label_encoder.fit_transform(data['continent'])

In [44]:
data.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0.0,0.0,0.0,0.0,1
1,89.0,132.0,54.0,4.9,2
2,25.0,0.0,14.0,0.7,0
3,245.0,138.0,312.0,12.4,2
4,217.0,57.0,45.0,5.9,0

In [92]:
X=data.drop('total_litres_of_pure_alcohol',axis=1)
y=data['total_litres_of_pure_alcohol']

In [32]:
y

0       0.0
1       4.9
2       0.7
3      12.4
4       5.9
       ...
188     7.7
189     2.0
190     0.1
191     2.5
192     4.7
Name: total_litres_of_pure_alcohol, Length: 193, dtype: float64

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [47]:
from sklearn.linear_model import LinearRegression

In [48]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [49]:
from sklearn.metrics import mean_squared_error,r2_score

r=(n(Exy)-(Ex)(Ey))/

In [50]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  1.7720922847547185
R Squared value is:  0.916337574413759

Overfitting and Underfitting ?

### **Min Max Scaling**

Xnew = (Xi - min(X)) / (max(X) - min(X))

In [51]:
 X.describe()

       beer_servings  spirit_servings  wine_servings   continent
count     193.000000       193.000000      193.00000  193.000000
mean      103.917098        82.259067       48.88601    1.694301
std        98.580146        87.389366       79.41700    1.501672
min         0.000000         0.000000        0.00000    0.000000
25%        21.000000         5.000000        1.00000    0.000000
50%        76.000000        60.000000        9.00000    1.000000
75%       171.000000       128.000000       59.00000    3.000000
max       376.000000       438.000000      370.00000    5.000000

In [52]:
X1=X.drop('continent',axis=1)

In [53]:
X1.head()

   beer_servings  spirit_servings  wine_servings
0            0.0              0.0            0.0
1           89.0            132.0           54.0
2           25.0              0.0           14.0
3          245.0            138.0          312.0
4          217.0             57.0           45.0

In [54]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler=MinMaxScaler(feature_range=(0,1))
X1=min_max_scaler.fit_transform(X1)

In [55]:
type(X1)

numpy.ndarray

In [56]:
data.columns

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [57]:
X1=pd.DataFrame(X1,columns=['beer_servings','spirit_servings','wine_servings'])

In [58]:
X1.describe()

       beer_servings  spirit_servings  wine_servings
count     193.000000       193.000000     193.000000
mean        0.276375         0.187806       0.132124
std         0.262181         0.199519       0.214641
min         0.000000         0.000000       0.000000
25%         0.055851         0.011416       0.002703
50%         0.202128         0.136986       0.024324
75%         0.454787         0.292237       0.159459
max         1.000000         1.000000       1.000000

In [59]:
X1.shape

(193, 3)

In [60]:
X.drop(['beer_servings','spirit_servings','wine_servings'],axis=1,inplace=True)

In [61]:
X=pd.concat([X,X1],axis=1)

In [62]:
X.head()

   continent  beer_servings  spirit_servings  wine_servings
0          1       0.000000         0.000000       0.000000
1          2       0.236702         0.301370       0.145946
2          0       0.066489         0.000000       0.037838
3          2       0.651596         0.315068       0.843243
4          0       0.577128         0.130137       0.121622

In [63]:
X.tail()

     continent  beer_servings  spirit_servings  wine_servings
188          5       0.202128         0.228311       0.008108
189          1       0.295213         0.004566       0.002703
190          1       0.015957         0.000000       0.000000
191          0       0.085106         0.043379       0.010811
192          0       0.170213         0.041096       0.010811

In [64]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [65]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [66]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  1.7720922847547178
R Squared value is:  0.9163375744137591

### **Standard Scaling**

Xnew = ( Xi - Xmean ) / Standard deviation

In [70]:
data3=data.drop('country',axis=1)

In [71]:
data3

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0.0,0.0,0.0,0.0,Asia
1,89.0,132.0,54.0,4.9,Europe
2,25.0,0.0,14.0,0.7,Africa
3,245.0,138.0,312.0,12.4,Europe
4,217.0,57.0,45.0,5.9,Africa
...,...,...,...,...,...
188,NaN,100.0,3.0,7.7,South America
189,111.0,2.0,1.0,2.0,Asia
190,6.0,0.0,0.0,0.1,Asia
191,32.0,19.0,4.0,2.5,Africa
192,64.0,18.0,4.0,4.7,Africa

In [72]:
data3['continent']=label_encoder.fit_transform(data3['continent'])

In [73]:
X = data3.drop('total_litres_of_pure_alcohol',axis=1)
y=data3['total_litres_of_pure_alcohol']

In [74]:
X.describe()

       beer_servings  spirit_servings  wine_servings   continent
count     185.000000       185.000000     187.000000  193.000000
mean      105.124324        83.221622      50.165775    1.694301
std       100.524714        89.142958      80.358868    1.501672
min         0.000000         0.000000       0.000000    0.000000
25%        20.000000         4.000000       1.000000    0.000000
50%        76.000000        60.000000       9.000000    1.000000
75%       185.000000       132.000000      60.500000    3.000000
max       376.000000       438.000000     370.000000    5.000000

In [76]:
from sklearn.preprocessing import StandardScaler

In [77]:
std_scl=StandardScaler()

In [93]:
X2 = X.drop('continent',axis=1)

In [94]:
X2 = std_scl.fit_transform(X2)

In [95]:
type(X2)

numpy.ndarray

In [96]:
X2 = pd.DataFrame(X2,columns=['beer_servings','spirit_servings','wine_servings'])

In [97]:
X.drop(['beer_servings','spirit_servings','wine_servings'],axis=1,inplace=True)

In [98]:
X=pd.concat([X,X2],axis=1)

In [99]:
X.head()

   continent  beer_servings  spirit_servings  wine_servings
0          1      -1.056880        -0.943742      -0.617162
1          2      -0.151713         0.570668       0.064562
2          0      -0.802619        -0.943742      -0.440419
3          2       1.434871         0.639505       3.321685
4          0       1.150100        -0.289792      -0.049059

In [100]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [101]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [102]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  1.7720922847547182
R Squared value is:  0.916337574413759